# Excluir el archivo secrets.toml para que no se suba a GitHub

.streamlit/secrets.toml
.streamlit/

# Excluir otros archivos y carpetas comunes para proyectos de Python

# Archivos y carpetas de entornos virtuales
venv/
.env/
env/

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de caché y temporales del sistema
*.DS_Store
*.swp
*.swo
Thumbs.db

# Archivos de log
*.log

# Paquetes de distribución
dist/
build/
*.egg-info/

# Archivos de Jupyter Notebook
.ipynb_checkpoints/
